    body {
        margin: 0;

    }

    html,
    body {

        height: 100%;
        margin: 0;
        overflow: hidden;
        /* This ensures that no default scrollbars appear for the body */
    }



    #container {
        display: flex;
        padding-left: 300px;
        height: 100%;
        /* Make the container fill the viewport height */


    }

    /* General styling for worksheetPage SVG elements */
    .worksheetPage {
        display: block;
        margin: 0 auto;
        /* Center the SVG on the page */
        page-break-after: always;
        /* Ensure each SVG is on its own page */
    }


    #generatedWorksheetArea {
        height: calc(100% - 20px);
        /* Adjust as needed to leave space for headers or other content */
        width: 100%;
        overflow-y: scroll;
        /* Enable vertical scrolling for this specific div */
        scrollbar-width: none;
        /* Hide default scrollbar for Firefox */
        position: relative;
        /* Ensure proper positioning for custom scrollbar */

    }


    #controls p {
        color: white;
        font-size: 9pt;
        font-family: serif;
    }

    #controls {
        width: 318px;

        padding: 10pt;
        padding-right: 20pt;
        background: rgba(255, 255, 255, 0.8);
        background: #9b9a9a;
        box-sizing: border-box;
        position: fixed;
        z-index: 20;
        bottom: 0;
        left: 0;
        top: 0;
        overflow-y: scroll;
        /* Keep scrolling enabled */
        scrollbar-width: none;
        /* Firefox */
        border-right: 2px solid rgb(101, 101, 101);
        padding-top: 0;
    }

    .hiddenTemporary {
        display: none;
    }

    #controls::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, and Opera */
    }



    #controls {
        border-top-left-radius: 8pt;
        border-top-right-radius: 8pt;
        border-radius: 0pt;
    }

    #controls h1 {

        font-family: 'DDINExpDINExpBold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        font-size: 12pt;
        margin-top: 0;
        color: #ccc;
        text-align: left;

        background-color: rgb(114, 110, 110);
        margin: -10pt;
        
        
        padding: 5pt;
        padding-left:15pt;
        padding-top:7pt;
        padding-bottom:5pt;
        box-shadow: 2pt 2pt 2pt rgb(75, 75, 75);
        border-bottom: 3pt solid black;
        position: sticky;
        top: 0;
        
        background: linear-gradient(to top, #000000 10%, #0b0a0a 40%, #302f2f 100%);
        width: 110%;
    }

    #canvas {
        flex-grow: 1;
        display: block;
        margin: 0 auto;
    }




    #controls fieldset legend {
        border-top-left-radius: 8pt;
        border-top-right-radius: 8pt;

        box-sizing: border-box;
        text-transform: uppercase;

        background-color: #9d9b9b;
        color: #090909;

        font-size: 12pt;
        width: 100%;

        padding-top: 5pt;

        text-align: left;
        padding-left:8pt;
        padding-bottom: 3pt;
        box-shadow: 3pt 3pt 3pt rgb(75, 75, 75);

        
        font-weight: bold;
        border-bottom: 2pt solid black;

        

    }

    #controls fieldset .settingEnclosure:last-child {
       
        border-bottom-left-radius: 8pt;
        border-bottom-right-radius: 8pt;
    }

    #controls fieldset {
        
        border: 0;
        border-radius: 10pt;
        

        outline: 3pt solid #000;
        /* Create an inside border */
        outline-offset: -2px;
        /* Move the outline inwards */


        font-family: sans-serif;
        
        color: #333;
        box-shadow: 3pt 3pt 3pt rgb(75, 75, 75);
        margin-bottom: 15pt;

        padding-top: 0pt;
        padding-bottom: 0pt;
        padding-right: 0pt;
        padding-left: 0pt;
        font-family: sans-serif;

        color: #333;
        font-family: 'DDINBold','Franklin Gothic Medium', 'Arial Narrow' !important;
        

    }



    .settingEnclosure {
        padding: 5pt;
        padding-top:7pt;
        padding-bottom:7pt;
        
        padding-left: 8pt;

        margin-top: 0px;

        background-color: #929191;
        background-color:#222;
        border: 0px solid rgb(49, 47, 47);

        border-bottom:2pt solid #333;

    }

    .settingEnclosure label {
        
        user-select: none;
        font-weight: bold;
  /*      font-family: 'DDINBold','Franklin Gothic Medium', 'Arial Narrow' !important; */

  margin-bottom:3pt;

  
    }

    .settingEnclosure .radioLabel {
        font-weight: normal;
        color: #a4a4a4 !important;
    font-family: 'DDINCondensedRegular','Franklin Gothic Medium', 'Arial Narrow' !important; 
        margin-bottom:-6pt;
    }

    .settingEnclosure.top
    {
        border-bottom:2pt solid rgb(0, 0, 0);
    }

    div.settingEnclosure.indent label {
   /* font-family: 'DDINCondensedRegular','Franklin Gothic Medium', 'Arial Narrow' !important; */
        font-size: 14pt !important;
        
}

    div.settingEnclosure.indent {

        background-color:#101010;
        border-left: 3pt solid black;
        border-right: 3pt solid black;
       border-bottom:1pt solid #333;
        color: black;
        font-weight: normal;
        
        /*background: linear-gradient(to left, #1c1c1c 10%, #060505 40%, #000000 100%) !important;*/
        
    }

    div.settingEnclosure.indent2{
      /*  border-left: 12pt solid black;*/
        border-bottom:2pt solid #222;
    }

    div.settingEnclosure.indent label {
        margin-left: 0;
        font-weight: normal;

        color: rgb(125, 124, 124) !important;

    }

    #controls fieldset label {


        font-family: sans-serif;
        font-family: Arial, Helvetica, sans-serif;
        font-family: 'DDINBold','Franklin Gothic Medium', 'Arial Narrow'; 

        /*text-transform:uppercase;*/
        ;
        font-size: 13pt;

        color: #d3d1d1;
        
        display: inline-block;
    }

    .vertSpacer{
        height:10pt;
    }

    .vertSpacer2{
        height:10pt;
    }


    #controls fieldset .indent label {
        font-family: 'DDINCondensedRegular','Franklin Gothic Medium', 'Arial Narrow'; 

    }
    .labelNote {
        color: rgb(108, 120, 177);
        font-family: monospace;
        font-size: 10pt;
    }

    .labelNote2 {
        color: rgb(108, 120, 177);
        font-family: monospace;
        font-size: 12pt;
    }

    .settingEnclosure.indent .labelNote {
        color: rgb(102, 129, 87);
    }

    #controls input:disabled
    {
        opacity:0.4;
        cursor: not-allowed;        /* Change the cursor to indicate it's disabled */

    }


    #controls input[type='number'] {
        font-family: monospace;
        border-radius: 9pt;
        text-align: center;
        width: 50pt;
        font-size: 12pt;
        padding-top: 1pt;
        padding-bottom: 2pt;
        background-color: #111;

        /*background: linear-gradient(to right, #383737 10%, #0b0a0a 40%, #474646 100%);*/
        border: 1pt solid black;

        color: rgb(228, 226, 226);

        /* Apply border to create the "well" effect */

        border: 1px solid #3a3939;
        /* Darker border as a base */
        border-bottom-color: #787777;
        /* Lighter color for the top to create the highlight */
        border-right-color: #8b8989;
        /* Lighter color for the left side */


        /* Box shadow to enhance the well effect */
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2),
            inset -1px -1px 1px rgba(206, 205, 205, 0.7);

        /* Remove default styling */
        outline: none;
        appearance: none;

        color:greenyellow;
    }

    #controls input[type='number']:hover{
        background-color: #222;


    }

    #controls input[type='checkbox'] {
        appearance: none;
    }

    #controls input[type='checkbox'],
    #controls input[type='radio'] {
        appearance: none;
        /* Remove default appearance */
        -webkit-appearance: none;
        /* Vendor prefix for better support */
        width: 13pt;
        height: 13pt;
        margin-right: 0px;
        vertical-align: middle;
        cursor: pointer;
        display: inline-block;

        /*  light:          background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="100%"><stop offset="0%" style="stop-color:%23b0b0b0;stop-opacity:1"/><stop offset="100%" style="stop-color:%23808080;stop-opacity:1"/></linearGradient></defs><rect x="0" y="0" width="24" height="24" fill="url(%23grad1)"/></svg>') no-repeat center;
  */
        background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="100%"><stop offset="0%" style="stop-color:%23505050;stop-opacity:1"/><stop offset="100%" style="stop-color:%232a2a2a;stop-opacity:1"/></linearGradient></defs><rect x="0" y="0" width="24" height="24" fill="url(%23grad1)"/></svg>') no-repeat center;

        background-size: cover;
        border-radius: 4px;
        /* For checkbox, adds rounded corners */
        /*transition: background 0.05s ease;*/
        border: 1px solid gray;
        /*
    border-top:1px solid black;
    border-left:1px solid black;
    border-bottom:1px solid darkgray;*/
        margin-left: -2px;
    }

    /* Checkbox Checked State */
    #controls input[type='checkbox']:checked {
        /*            background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="100%"><stop offset="0%" style="stop-color:%23b0b0b0;stop-opacity:1"/><stop offset="100%" style="stop-color:%23808080;stop-opacity:1"/></linearGradient></defs><rect x="0" y="0" width="24" height="24" fill="url(%23grad1)"/><polyline points="5,13 10,17 19,7" style="fill:none;stroke:%23000000;stroke-width:2"/></svg>') no-repeat center;
  */
        background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="100%"><stop offset="0%" style="stop-color:%23505050;stop-opacity:1"/><stop offset="100%" style="stop-color:%232a2a2a;stop-opacity:1"/></linearGradient></defs><rect x="0" y="0" width="24" height="24" fill="url(%23grad1)"/><polyline points="5,13 10,17 19,7" style="fill:none;stroke:%23ffffff;stroke-width:2"/></svg>') no-repeat center;


        background-size: cover;
    }

    

    /* Radio Button Styling */
    #controls input[type='radio'] {
        border-radius: 50%;
        /* Makes the radio button circular */
    }

    /* Radio Button Checked State */
    #controls input[type='radio']:checked {

        /* light:          background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="100%"><stop offset="0%" style="stop-color:%23b0b0b0;stop-opacity:1"/><stop offset="100%" style="stop-color:%23808080;stop-opacity:1"/></linearGradient></defs><rect x="0" y="0" width="24" height="24" fill="url(%23grad1)"/><circle cx="12" cy="12" r="6" style="fill:%23000000;"/></svg>') no-repeat center;
*/
        background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="100%"><stop offset="0%" style="stop-color:%23505050;stop-opacity:1"/><stop offset="100%" style="stop-color:%232a2a2a;stop-opacity:1"/></linearGradient></defs><rect x="0" y="0" width="24" height="24" fill="url(%23grad1)"/><circle cx="12" cy="12" r="6" style="fill:%23c3c3c3;"/></svg>') no-repeat center;

        background-size: cover;
    }

    /* Hover Effect for Both Checkbox and Radio Button */
    #controls input[type='checkbox']:hover,
    #controls input[type='radio']:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        /* Slight shadow effect on hover */
    }


    /* Ensure label aligns well with checkbox */
    #controls label {
        cursor: pointer;
        vertical-align: middle;
    }

    #controls button
    {

    }

    #controls select option{
        color:white;
        background-color: rgb(61, 61, 61);
    }

    select optgroup {
        color:white;
        background-color: rgb(61, 61, 61);

      }
      



    #controls select {
        width: 100%;
        padding: 3pt;
        padding-left: 5pt;
        font-size: 13pt;
        border: 1px solid #ccc;
        border-radius: 4pt;
        appearance: none;
        /* Remove default styling */
        color: rgb(143, 140, 140);
        font-weight: bold;

        box-shadow: 2pt 2pt 2pt #0b0a0a;

        /* Stacking two backgrounds: gradient and the SVG arrow */
        /* Background using SVG with gradient and arrow */

        background: url('../img/selectBackground.svg') no-repeat;

        background-size: 100% 100%;
        /* Make sure the SVG fills the entire select area */

        padding-right: 40px;
        /* Add space to ensure text doesn’t overlap with the arrow */

        appearance: none;
        /* Remove default dropdown arrow in some browsers */
        -webkit-appearance: none;
        /* Remove default appearance for WebKit browsers */
        -moz-appearance: none;
        /* Remove default appearance for Mozilla browsers */

        
        font-weight: normal;
        border: 2pt solid black;
        color:rgb(92, 146, 11);
        /* Apply border to create the "well" effect */
        border: 1pt solid #3a3939;
        /* Darker border as a base */
        border-top-color: #8a8888;
        /* Lighter color for the top to create the highlight */

        border-left-color: #8a8888;
        border-left-width: 1pt;
        border-bottom-color: #343434;
        height:23pt;

        
        font-family: 'DDINBold','Franklin Gothic Medium', 'Arial Narrow' !important; 
        
        font-family: monospace !important;
        font-size: 11pt;
    }

    #controls select:hover{
        background: url('../img/selectBackgroundHover.svg') no-repeat;

        background-size: 100% 100%;
        /* Make sure the SVG fills the entire select area */

      }


    div#outputButtons {
        
        margin-top: 25pt;
        margin-bottom: 10pt;

        padding: 0pt;
        
    }

    #outputButtons button,
    button {
        font-family: monospace;
        background-color: #555;
        color: #ccc;
        border-radius: 4pt;
        height: 25pt;
        box-shadow: 2pt 2pt 2pt #484848;
        border: 1px solid rgb(170, 168, 168);

        background-color: #000;
        color: #ccc;
    }

    #outputButtons button:hover,
    button:hover {
        cursor: pointer;
        background-color: #444;

    }
    
    #outputButtons button:active,
    button:active {
        cursor: pointer;
        background-color: #555;

    }


    #controlsScrollbar {
        position: fixed;
        bottom: 0;

        width: 16px;
        height: calc(100% - 28pt);
        background: #000;
        cursor: pointer;
        z-index: 20;
    }

    #controlsScrollbar .thumb,
    #worksheetAreaScrollbar .thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 13px;

        height: 30px;
        border-radius: 0px;
        border: 1px solid black;
        margin-left: 1px;
        width: 11px;



    

        background:
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ffffff'%3E%3Cpath d='M12 4l6 8H6z'/%3E%3C/svg%3E") top center no-repeat,
            /* Arrow pointing up */
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ffffff'%3E%3Cpath d='M12 20l-6-8h12z'/%3E%3C/svg%3E") bottom center no-repeat,
            /* Arrow pointing down */
            #3d3d3d;
        /* Background color for hover state */
        background-size: 15px auto, 15px auto, cover;
        /*   linear-gradient(to right, #383737 10%, #0b0a0a 40%, #474646 100%);*/

        background-size: 15px auto, 15px auto, cover;
        /* Size arrows and gradient appropriately */
        border-radius: 0px;
        border: 1px solid black;
        margin-left: 1px;

    }

    #controlsScrollbar .thumb:hover,
    #worksheetAreaScrollbar .thumb:hover {

        background:
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ffffff'%3E%3Cpath d='M12 4l6 8H6z'/%3E%3C/svg%3E") top center no-repeat,
            /* Arrow pointing up */
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ffffff'%3E%3Cpath d='M12 20l-6-8h12z'/%3E%3C/svg%3E") bottom center no-repeat,
            /* Arrow pointing down */
            #3d3d3d;
        /* Background color for hover state */
        background-size: 15px auto, 15px auto, cover;
    }

    #controlsScrollbar .thumb:active,
    #worksheetAreaScrollbar .thumb:active {
        background: #494949;
        background:
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ffffff'%3E%3Cpath d='M12 4l6 8H6z'/%3E%3C/svg%3E") top center no-repeat,
            /* Arrow pointing up */
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ffffff'%3E%3Cpath d='M12 20l-6-8h12z'/%3E%3C/svg%3E") bottom center no-repeat,
            /* Arrow pointing down */
            #343434;
        /* Background color for active state */
        background-size: 15px auto, 15px auto, cover;
    }


    #generatedWorksheetArea {
        margin: auto;
        margin-left: 11pt;
        padding: 0pt;
        position: relative;
        /* Add relative positioning to keep the scroll within bounds */
        height: 100%;
        /* Set a height that makes sense for your viewport */
        overflow-y: scroll;
        /* Enable scrolling */
        scrollbar-width: none;
        /* Hide default scrollbar for Firefox */

        /*  border:1px solid red; */

    }

    #generatedWorksheetArea .worksheetAreaSpacer {
        height: 15pt;
    }

    #generatedWorksheetArea::-webkit-scrollbar {
        display: none;
        /* Hide default scrollbar for Chrome, Safari, and Opera */
    }


    #worksheetAreaScrollbar {
        position: fixed;
        top: 0;

        right: 0px;
        /* Position to the right of #generatedWorksheetArea */
        width: 15px;

        bottom: 0;
        background: #000;
        cursor: pointer;
    }





    svg.worksheetPage {
        display: block;
        box-shadow: 5px 15px 10px gray;
        border: 1pt solid black;
        page-break-after: always;
        /* Ensure a page break after each SVG page */
        margin-bottom: 20pt;
        /* Add some space between each page */

    }


    #worksheetPagesContainer svg {}

    /* Hide controls when printing */
    @media print {

        html,
        body {

            height: initial;
            margin: 0;
            overflow: visible;

        }


        svg.worksheetPage {
        box-shadow: none; /* Remove box shadow for cleaner print */
        padding: 0 !important;
        border:0 !important;
        margin: 0; /* Remove margins to prevent scaling */
        page-break-after: always; /* Ensure each SVG is printed on its own page */
        width: auto !important; /* Use explicit width and height set in the SVG */
        height: auto !important; /* Safari needs this to prevent scaling */
        transform: scale(1) !important; /* Prevent Safari from scaling */
        max-width: 100% !important;
        max-height: 100% !important;
        border: 0pt solid black !important;

        }

        
        #controls,
        .scrollbar,
        .worksheetAreaSpacer {
            display: none;
        }

        #container {
            padding: 0;
        }

        #generatedWorksheetArea {
            padding: 0;

            margin: auto;

        }

        .notForPrinting {
            display: none;
        }
    }


#nibWidthInPtDisplaySpan
{
    
    margin-left:14pt;
font-size:10pt ;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: right;
display: inline-block;
color:#52795a;
text-align: right;
display: inline-block;
}


#controls{
    overflow-x: hidden;

}

#controls input.switchInput {
    opacity: 1.0;
    width: 34pt;
    aspect-ratio: 80/34;
    display: inline-block;
    background: url('../img/switch-off-state.svg') center no-repeat;
    background-size: contain;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    transition: background 0.4s;
}

#controls input.switchInput:checked {
    background: url('../img/switch-on-state.svg') center no-repeat;
    background-size: contain;
}

#controls div#dropArea
 {
width:45pt;height:40pt; 
text-align: center;background-color: #494949;
padding:5pt;border-radius: 5pt;border:1pt dashed rgb(166, 166, 166);color:#999;

}               


#dropArea.highlight {
    border-color: #ff8800; /* Example: Highlight border when a file is dragged over */
    background-color: #666666;
}
