    /*
    .capsLockKey::after,
    .returnKey::after,
    .shiftKeyLeft::after,
    .shiftKeyRight::after,
    .altKey::after,
    .controlKey::after,
    .metaKey::after {

        font-size: 14px !important;

    }*/

    /*
    .keyboardKeysOverlayContainer button {

        font-size: 12px;
        padding: 1pt;

    }*/

    
    /*
    .altRight::after{
        font-size:8pt !important;
        color:blue !important;
    }*/